<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abcxo.android.ifootball">

    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <uses-permission android:name="android.permission.MANAGE_USERS" />


    <application
        android:name=".Application"
        android:debuggable="true"
        android:largeHeap="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- 引用的库 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pcZixv1lLoov3AUD8GmCnfGj" />
        <meta-data
            android:name="QBSDKAppKey"
            android:value="4t+OEvGKAuJvmsqVQKixHN1i" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <data android:scheme="tencent100371282" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 微信分享回调 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 调用新浪原生SDK，需要注册的回调activity -->
        <activity
            android:name="cn.sharesdk.sina.weibo.SinaActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 监听消息到达的广播 -->
        <receiver
            android:name=".controllers.receivers.PushReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.abcxo.android.push.intent.action.Push" />
                <action android:name="com.abcxo.android.push.intent.action.Push.Click" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".controllers.activities.WelcomeActivity"
            android:label="@string/activity_welcome"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar.NoNavigationBar">

        </activity>

        <activity
            android:name=".controllers.activities.NavActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controllers.activities.TweetDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_detail_tweet"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustUnspecified" />
        <activity
            android:name=".controllers.activities.ChatDetailActivity"
            android:label="@string/activity_detail_chat"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.activities.UserDetailActivity"
            android:label="@string/activity_detail_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.activities.AddTweetActivity"
            android:label="@string/activity_add_tweet"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".controllers.activities.AddTeamActivity"
            android:label="@string/activity_add_team"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".controllers.activities.ContactActivity"
            android:label="@string/activity_contact"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".controllers.activities.SearchActivity"
            android:label="@string/activity_search"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".controllers.activities.MessageActivity"
            android:label="@string/activity_message"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.activities.SignActivity"
            android:label="@string/activity_sign"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar" />
        <activity
            android:name=".controllers.activities.ImageActivity"
            android:label="@string/activity_image"
            android:theme="@style/AppTheme.NoActionBar.NoStatusBar" />
        <activity
            android:name=".controllers.activities.AboutActivity"
            android:label="@string/activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.activities.HelpActivity"
            android:label="@string/activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".controllers.activities.SettingActivity"
            android:label="@string/activity_setting"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".controllers.activities.WebActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/activity_web"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

            <data android:scheme="http" />
            <data android:scheme="https" />
        </activity>
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
